header{
    background: #BBBBBB; /* Mudar a Cor*/ 
    padding: 20px 0; /* CIMA/BAIXO  -  DIREITA/ESQUERDA */
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline; /* Colocar tudo na mesma linha */
    margin: 0 0 0 15px; /* CIMA DIREITA BAIXO ESQUERDA */
}

nav a{
    text-transform: uppercase; /* Deixar as letras em maiúsculo */
    color: #000000; /* Alterar a cor das letras */
    font-weight: bold; /* Deixar em Negrito */
    font-size: 22px; /* Aumentar o tamanho da fonte */
    text-decoration: none; /* Tirar o sublinhado */
}